* {
  box-sizing: border-box;
}

body {
  /* a nice font that uses a user's built in font */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: #333;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 2px solid #333;
  padding: 15px;
  text-align: center;
  margin-bottom: 0;
  .brand {
    font-size: 30px;
  }
}

.scoreboard {
  max-width: 295px;
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 5px;

  .scoreboard-letter {
    height: 45px;
    width: 45px;
    font-size: 30px;
    text-transform: uppercase;
    border: 3px solid #ccc;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.correct {
  background-color: rgb(12, 226, 12);
  color: white;
}

.close {
  background-color: rgb(245, 207, 38);
  color: white;
}

.wrong {
  background-color: rgb(116, 115, 115);
  color: white;
}

.invalid {
  animation: flash 1s;
}

/* flashes red border and then fades back to gray */
@keyframes flash {
  5% {
    border-color: crimson;
  }

  100% {
    border-color: #ccc;
  }
}

.spiral {
  font-size: 40px;
  animation: spin 1.5s linear infinite;
}

/* rotates clockwise indefinitely */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* visibility hidden means the item is still there and taking up space
   but just not shown. display: none doesn't take up space */

.info-bar {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

/* winner animation */

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.winner {
  animation: rainbow 4s infinite linear;
}

.result {
  font-size: xx-large;
  font-weight: bolder;
}

.rules {
  font-weight: 700;
  display: grid;
  place-items: center;

  ol {
    counter-reset: li;
    list-style: none;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

    & a {
      position: relative;
      display: block;
      padding: 0.4em 0.4em 0.4em 2em;
      margin: 0.5em 0;
      background: #dad2ca;
      color: #444;
      text-decoration: none;
      border-radius: 0.3em;
      transition: 0.3s ease-out;
    }

    & a:hover {
      background: #e9e4e0;
    }
    & a:hover:before {
      transform: rotate(360deg);
    }
    & a:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      left: -1.3em;
      top: 50%;
      margin-top: -1.3em;
      background: #f9dd94;
      height: 2em;
      width: 2em;
      line-height: 2em;
      border: 0.3em solid #fff;
      text-align: center;
      font-weight: bold;
      border-radius: 2em;
      transition: all 0.3s ease-out;
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#overlay-content {
  width: 90%;
  display: flex;
  flex-direction: column;

  background-color: rgb(255, 255, 255);
  padding: 1rem;

  section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    .brand {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .result{
      font-size: 1.5rem;
    }
  }
  button {
    width: fit-content;
    float: right;
    background-color: red;
    border: 2rem;
    color: white;
    cursor: pointer;
  }
}

.help {
  border-radius: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font: 25px Arial, sans-serif;
  color: white;
  background: rgb(255, 148, 8);
  box-shadow: 6px 3px 18px -8px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
  margin-bottom: 1rem;
}

.key-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.keyboard {
  width: 100%;
  background-color: #718699;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
  }

  .key {
    color: black;
    cursor: pointer;
    border: 0;
    border-radius: 1rem;
    background-color: white;
    font-weight: bold;
    width: auto;
    padding: .6rem;
  }

  .main-keys {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0 0 0;
  }
  .enter {
    background: rgb(250, 86, 57);
    color: white;
    width: 50%;
  }
  .backspace {
    background-color: rgb(253, 253, 96);
    color: black;
    // width: 40%;
  }
}


@media (min-width: 1000px) {
  /* CSS rules to be applied for screens with a maximum width of 768px */
  .keyboard{
    display: none;
  }
}
